*, *:before, *:after {
  box-sizing: content-box;
}

body {
  font-family: sans-serif;
  font-size: 17px;
  margin: auto;
  width: 375px;
  background-color: #ffffff;
}

h1 {
 font-size: 1em;
 line-height: 1.5em;
 font-weight: 300;
}

.stop h1{
  padding-top: 25px;
  letter-spacing: .1em;
  font-weight: 500;
}

.navigation {
  background-color: #FF5B5E;
  background-position: fixed;
  width: 375px;
  height: 64px;
  text-align: center;
  color: #ffffff;
  padding-bottom: 20px;
}



.frequency {
  color: #8E8E93;
  float: right;
  display: inline-flex;
  font-weight: 200;
}

h2 {
  font-size: .9em;
  font-weight: 300;
  color: #8E8E93;
}



.arrow-left {
  float: left;
  padding-top: 25px;
  padding-left: 10px;
}

.route-data {
  border-bottom: 1px solid #BCBBC1;
  display: block;
  padding: 15px;
  padding-left: 30px;
}

.arrow-right {
  float: right;
  display: inline-block;
  padding-left: 10px;
  padding-top: 5px;
}
