*, *:before, *:after {
  box-sizing: content-box;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  margin: auto;
  width: 375px;
  background-color: #ffffff;
}

h1 {
 font-size: 1em;
 font-weight: 500;
}

h2 {
  font-size: .7em;
  color: #8E8E93;
}

nav {
  background-color: #FF5B5E;
  background-position: fixed;
  width: 375px;
  height: 64px;
  text-align: center;
  color: #ffffff;
  padding-bottom: 20px;
}

.arrow-left {
  float: left;
  padding: 20px 0 20px 10px;
}

.stop {
  padding-top: 25px;
}

.route-data {
  border-bottom: 1px solid #8E8E93;
  display: block;
  padding: 15px;
  padding-left: 30px;
}

.frequency {
  color: #8E8E93;
  float: right;
  display: inline-flex;
}

.destination {

}

i {
  float: right;
  display: inline-flex;
  padding-left: 5px;
}
